/********************************/
/*********** Resume CSS ********/
/******************************/

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
    -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 999;
}

    #loader.show {
        -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
        -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
        transition: opacity .6s ease-out, visibility 0s linear 0s;
        visibility: visible;
        opacity: 1;
    }

    #loader .loader {
        position: relative;
        width: 45px;
        height: 45px;
        border: 5px solid #dddddd;
        border-top: 5px solid teal;
        border-radius: 50%;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.res-back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}

    .res-back-to-top i {
        color: #ffffff;
    }

    .res-back-to-top:hover i {
        color: #414141;
    }


/*******************************/
/******* Experience CSS ********/
/*******************************/
.experience {
    position: relative;
    padding: 45px 0 15px 0;
}

    .experience .timeline {
        position: relative;
        width: 100%;
    }

        .experience .timeline::after {
            content: '';
            position: absolute;
            width: 2px;
            background: teal;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -1px;
        }

        .experience .timeline .timeline-item {
            position: relative;
            background: inherit;
            width: 50%;
            margin-bottom: 30px;
        }

            .experience .timeline .timeline-item.left {
                left: 0;
                padding-right: 30px;
            }

            .experience .timeline .timeline-item.right {
                left: 50%;
                padding-left: 30px;
            }

            .experience .timeline .timeline-item::after {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                top: 48px;
                right: -8px;
                background: #ffffff;
                border: 2px solid teal;
                border-radius: 16px;
                z-index: 1;
            }

            .experience .timeline .timeline-item.right::after {
                left: -8px;
            }

            .experience .timeline .timeline-item::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                top: 46px;
                right: 10px;
                z-index: 1;
                border: 10px solid;
                border-color: transparent transparent transparent #dddddd;
            }

            .experience .timeline .timeline-item.right::before {
                left: 10px;
                border-color: transparent #dddddd transparent transparent;
            }

        .experience .timeline .timeline-date {
            position: absolute;
            width: 100%;
            top: 44px;
            font-size: 16px;
            font-weight: 600;
            color: teal;
            text-transform: uppercase;
            letter-spacing: 1px;
            z-index: 1;
        }

        .experience .timeline .timeline-item.left .timeline-date {
            text-align: left;
            left: calc(100% + 55px);
        }

        .experience .timeline .timeline-item.right .timeline-date {
            text-align: right;
            right: calc(100% + 55px);
        }

        .experience .timeline .timeline-text {
            padding: 30px;
            background: #ffffff;
            position: relative;
            border-right: 5px solid #dddddd;
            box-shadow: 0 0 60px rgba(0, 0, 0, .08);
        }

        .experience .timeline .timeline-item.right .timeline-text {
            border-right: none;
            border-left: 5px solid #dddddd;
        }

        .experience .timeline .timeline-text h2 {
            margin: 0 0 5px 0;
            font-size: 22px;
            font-weight: 600;
        }

        .experience .timeline .timeline-text h4 {
            margin: 0 0 10px 0;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
        }

        .experience .timeline .timeline-text p {
            margin: 0;
            font-size: 16px;
        }

        .experience-list li {
            list-style-image: url('../img/bullet_point_image_teal.png');
            text-align: start;
            padding-left: 5%;
        }

@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }

    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }

        .experience .timeline .timeline-item.left {
            padding-right: 0;
        }

        .experience .timeline .timeline-item.right {
            left: 0%;
            padding-left: 38px;
        }

            .experience .timeline .timeline-item.left::after,
            .experience .timeline .timeline-item.right::after {
                left: 0;
            }

            .experience .timeline .timeline-item.left::before,
            .experience .timeline .timeline-item.right::before {
                left: 18px;
                border-color: transparent #dddddd transparent transparent;
            }

            .experience .timeline .timeline-item.left .timeline-date,
            .experience .timeline .timeline-item.right .timeline-date {
                position: relative;
                top: 0;
                right: auto;
                left: 0;
                text-align: left;
                margin-bottom: 10px;
            }

            .experience .timeline .timeline-item.left .timeline-text,
            .experience .timeline .timeline-item.right .timeline-text {
                border-right: none;
                border-left: 5px solid #dddddd;
            }
}


/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    margin: 45px 0;
    padding: 90px 0;
    background: teal;
}

    .testimonial .container {
        max-width: 900px;
    }

    .testimonial .testimonial-icon {
        margin-bottom: 45px;
        text-align: center;
    }

        .testimonial .testimonial-icon i {
            font-size: 60px;
            color: indigo;
        }

    .testimonial .testimonial-item {
        position: relative;
        margin: 0 15px;
        text-align: center;
        margin-bottom: 15px;
        z-index: 1;
    }

    .testimonial .testimonial-img {
        position: relative;
        margin-bottom: 15px;
        /*z-index: 1;*/
    }

    .testimonial .testimonial-item img {
        margin: 0 auto;
        width: 120px;
        padding: 10px;
        border: 5px dotted #ffffff;
        border-radius: 100px;
    }

    .testimonial .testimonial-text {
        position: relative;
        /*margin-top: -70px;*/
        padding: 65px 35px 30px 35px;
        text-align: center;
        background: #ffffff;
        border-radius: 500px;
    }

    .testimonial .testimonial-item p {
        font-size: 18px;
        font-style: italic;
    }

    .testimonial .testimonial-text h3 {
        color: darkturquoise;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .testimonial .testimonial-text h4 {
        color: #666666;
        font-size: 14px;
        margin-bottom: 0;
    }

    .testimonial .owl-dots {
        margin-top: 15px;
        text-align: center;
    }

    .testimonial .owl-dot {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: rgba(256, 256, 256, .5);
    }

        .testimonial .owl-dot.active {
            background: #ffffff;
        }
