/********** Template CSS **********/
:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

body {
    margin: 0;
    font-family: "Heebo",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /*color: #52565b;*/
    background-color: paleturquoise;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: indigo;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

    #spinner.show {
        transition: opacity .5s ease-out, visibility 0s linear 0s;
        visibility: visible;
        opacity: 1;
    }


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

    .btn.btn-primary,
    .btn.btn-secondary {
        color: #FFFFFF;
    }

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}




/*** Navbar ***/
.navbar {
    background-color: lightcyan;
}

    .navbar .logo {
        color: aliceblue;
        font-family: serif;
        font-size: xxx-large;
    }

    .navbar .logo-text {
        font-size: x-large;
    }

    .navbar .dropdown-toggle::after {
        border: none;
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        vertical-align: middle;
        margin-left: 8px;
    }

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
}

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--primary);
    }

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 65px;
    width: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .gradLogo {
    height: 65px;
    width: 75px;
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
        transition: all 3s ease 2s;
    }

        .header-carousel .owl-carousel-item img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .8;
        }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin: 7px 0;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        background: transparent;
        border: 1px solid #FFFFFF;
        font-size: 22px;
        transition: 2s;
    }

        .header-carousel .owl-nav .owl-prev:hover,
        .header-carousel .owl-nav .owl-next:hover {
            background: var(--primary);
            border-color: var(--primary);
        }

.header-carousel .owl-carousel-item h5 {
    margin-top: 60px;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}





/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
}

    .section-title::before {
        position: absolute;
        content: "";
        width: calc(100% + 80px);
        height: 2px;
        top: 4px;
        left: -40px;
        background: var(--primary);
        z-index: -1;
    }

    .section-title::after {
        position: absolute;
        content: "";
        width: calc(100% + 120px);
        height: 2px;
        bottom: 5px;
        left: -60px;
        background: var(--primary);
        z-index: -1;
    }

    .section-title.text-start::before {
        width: calc(100% + 40px);
        left: 0;
    }

    .section-title.text-start::after {
        width: calc(100% + 60px);
        left: 0;
    }


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
    min-height: 300px;
}

    .service-item:hover {
        margin-top: -10px;
        background: var(--primary);
    }

    .service-item * {
        transition: .5s;
    }

    .service-item .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: gray;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
    }

    .service-item:hover .overlay {
        visibility: visible;
        opacity: 1;
    }

    .service-item ul {
        list-style: none;
        min-height: 100px;

    }

.service-list li {
    list-style-image: url('../img/bullet_point_image_teal.png');
    text-align: start;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2rem;
}

/*.service-item:hover .overlay {
    color: var(--light) !important;
    opacity:1;
    visibility: visible;*/
}


/*** Categories & Portfolio ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}

owl-carousel .header-carousel {
    background-image: url('../img/wordcloud 3 resized.png');
    /*background-image: url('../img/virtual classroom 2.jpg'); */
    /*background-image: url('../img/final word art web.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}


/*** Classmates ***/
.classmates-item {
    text-align: center;
    margin-bottom: 20px;
}
    /*.classmates-item h5, p {
    text-align: center;
}*/

    .classmates-item img {
        transition: .5s;
    }

}

.classmates-item:hover img {
    transform: scale(1.1);
}

.classmates-header {
    background-image: url('../img/computers on desk.jpg');
    /*background-image: url('../img/virtual classroom 2.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    height: 450px;
}

.about-header {
    background-image: url('../img/kc wallpaper about page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    height: 450px;
}
.contact-header {
    background-image: url('../img/Contact2.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    height: 450px;
}

.portfolio-header {
    /*background-image: url('../img/cogwheels 776_1280.jpg');*/
    background-image: url('../img/network-gdf6808c33_1920.jpg');
    /*background-image: url('../img/color laptop.jpg');*/
    background-image: url('../img/laura-ockel-UQ2Fw_9oApU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    opacity: .8;
    height: 450px;
    font-weight: 900;
}

.resume-header {
    background-image: url('../img/building blocks 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    opacity: .6;
    height: 450px;
    font-weight: 900;
}

.heading-center {
    padding-top: 165px;
    font-size: xx-large;
}




.btn.download-btn {
}

    .btn.download-btn:hover {
        border: 0px solid #1292e1;
        background: blueviolet;
        color: white !important;
        content: "Download PDF" !important;
    }

.btn.hire-btn:hover {
    border: 0px solid #1292e1;
    background: blueviolet;
    color: white !important;
    content: "Contact Me" !important;
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    /*background-image: url('../img/wordcloud 4_ccexpress.png');*/
    background-size: cover;
    background-repeat: no-repeat;
}

.header-carousel .owl-prev, .owl-next {
    border-radius: 50%;
    color: paleturquoise;
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}
.footer p {
    color: white !important;
}

.footer h4 {
    margin-bottom: 3px;
}

.footer .align-ctr {
    text-align: center;
}


.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

    .footer .btn.btn-link::before {
        position: relative;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
    }

    .footer .btn.btn-link:hover {
        letter-spacing: 1px;
        box-shadow: none;
    }

.footer .copyright {
    padding: 25px 0;
    font-size: 12px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

    .footer .copyright a {
        color: var(--light);
    }

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

    .footer .footer-menu a:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }

/* test moving style needed from templatemo which isn't being pulled in for some reason*/
#template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #59ab6e;
}

#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #59ab6e !important;
    font-size: 2.8em !important;
}
/* Carousel Brand */
.tempaltemo-carousel .h1 {
    font-size: .5em !important;
    color: #000 !important;
}

.grid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
    .grid figcaption {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        /*background-image: url('../img/Pawsitive Vibes.png');*/
        background: darkslateblue;
        background: teal;
        color: aliceblue;
    }

        /*.grid figcaption h3 {
            margin: 0;
            padding: 0;
            color: #fff;
        }*/

        /*.grid figcaption span:before {
            content: 'by ';
        }*/

        .grid figcaption a {
            text-align: center;
            padding: 5px 10px;
            border-radius: 2px;
            display: inline-block;
            background: teal;
            color: #fff;
        }

.cs-style-1 figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.9s;
}

.cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
    opacity: .9;
    transform: translate(15px, 15px);
}

/*.cs-style-1 figcaption h3 {
    margin-top: 70px;
}*/

.cs-style-1 figcaption span {
    display: block;
    font-size: small;
}

.cs-style-1 figcaption a {
    margin-top: 30px;
}

@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 20px 10px;
    }

        .grid li {
            width: 100%;
            min-width: 300px;
        }
}

.tx-slider .typed-text {
    display: none;
}


.tx-slider h2 {
    font-size: 2.5rem;
    color: darkturquoise;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100px;
}

.text-primary {
    color: indigo !important;
}

/*.navbar p img {
    background: transparent;
}*/


